<h2><%= @post.title %></h2>
<hr>
<p><%= @post.contents %></p>
<p>작성자 ㅣ <%= @post.user.user_id %></p>
<%= link_to "목록", "/" %>
<%= link_to "수정","/board/#{@post.id}/edit" %>
<%= link_to "삭제","/board/#{@post.id}", method: "delete" %>
<!-- 기본적으로 <a>는 get방식 ! 그러니까 상세보기로 가겠지. -->